:root {
  --colour1: green;
  --colour2: blue;
  --colour3: yellow;
  --colour4: red;
  --colour5: pink;
  --colour6: white;
  --colour7: cyan;
  --colour8: brown;
  --colour9: magenta;
  --colour10: olive;
  --colour11: purple;
  --colour12: orange;
  --colour13: tomato;
  --colour14: grey;
  --colour15: lightgrey;
  --colour16: lightyellow;
  --colour17: indigo;
  --colour18: khaki;
  --colour19: darkcyan;
  --colour20: navy;
  --colourXX: black;
}

html, body {
    min-height: 100%;
}

table {
    border-collapse: collapse;
}

[data-size="9"] tr > :nth-child(3n) {
    border-right: 3px solid black;
}

[data-size="9"] tr > :nth-child(3n+1) {
    border-left: 3px solid black;
}

table[data-size="9"] > :nth-child(3n) {
    border-bottom: 3px solid black;
}

table[data-size="9"] > :nth-child(3n+1) {
    border-top: 3px solid black;
}

[data-size="4"] tr > :nth-child(2n) {
    border-right: 3px solid black;
}

[data-size="4"] tr > :nth-child(2n+1) {
    border-left: 3px solid black;
}

table[data-size="4"] > :nth-child(2n) {
    border-bottom: 3px solid black;
}

table[data-size="4"] > :nth-child(2n+1) {
    border-top: 3px solid black;
}

[data-size="6"] tr > :nth-child(3n) {
    border-right: 3px solid black;
}

[data-size="6"] tr > :nth-child(3n+1) {
    border-left: 3px solid black;
}

table[data-size="6"] > :nth-child(2n) {
    border-bottom: 3px solid black;
}

table[data-size="6"] > :nth-child(2n+1) {
    border-top: 3px solid black;
}

[data-size="12"] tr > :nth-child(4n) {
    border-right: 3px solid black;
}

[data-size="12"] tr > :nth-child(4n+1) {
    border-left: 3px solid black;
}

table[data-size="12"] > :nth-child(3n) {
    border-bottom: 3px solid black;
}

table[data-size="12"] > :nth-child(3n+1) {
    border-top: 3px solid black;
}
[data-size="16"] tr > :nth-child(4n) {
    border-right: 3px solid black;
}

[data-size="16"] tr > :nth-child(4n+1) {
    border-left: 3px solid black;
}

table[data-size="16"] > :nth-child(4n) {
    border-bottom: 3px solid black;
}

table[data-size="16"] > :nth-child(4n+1) {
    border-top: 3px solid black;
}


td {
    border: 1px solid black;
    width: 9vmin;
    height: 9vmin;
    text-align: center;
    font-size: 7vmin;
}

[data-size="4"] td {
    width: 14vmin;
    height: 14vmin;
}

.options {
    display: grid;
    font-size: 1rem;
}

[data-size="9"] .options {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

[data-size="4"] .options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

[data-size="6"] .options {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

[data-size="12"] .options {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

[data-size="16"] .options {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.options * {
    cursor: crosshair;
}

.done {
    background-color: lightgreen;
}

.initial {
    background-color: green;
}

.hint {
    background-color: turquoise;
}

.new {
    background-color: yellow;
}

.removed {
    color: red;
    opacity: .4
}

.has-1-colours {
    background-color: red;
    background-image: conic-gradient(var(--par1) 0deg, var(--par1) 180deg, var(--par1) 180deg);
    border-radius: 50%;
}

.has-2-colours {
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(var(--par1) 0deg, var(--par1) 180deg, var(--par2) 180deg);
    border-radius: 50%;
}

.has-3-colours {
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(var(--par1) 0deg, var(--par1) 120deg, var(--par2) 120deg, var(--par2) 240deg, var(--par3) 240deg);
    border-radius: 50%;
}

.has-4-colours {
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(var(--par1) 0deg, var(--par1) 90deg, var(--par2) 90deg, var(--par2) 180deg, var(--par3) 180deg, var(--par3) 270deg, var(--par4) 270deg);
    border-radius: 50%;
}

.has-5-colours, .has-6-colours, .has-7-colours, .has-8-colours, .has-9-colours {
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(red,orange,yellow,green,blue,indigo,violet,red);
    border-radius: 50%;
}

.diagonalContainer {
    grid-area: sudoku;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.hide {
    display: none;
}

line {
    stroke: black;
    opacity: 0.1;
    stroke-width: 1;
}

body {
    display: grid;
    grid-template-areas: 
        'click sudoku control grids'
        '.     status .       .';
    justify-content:  center;
    align-content: center;
    grid-gap: 10px;
}

#grids {
    grid-area: grids;
    display: flex;
    flex-direction: column;
}

#click {
    grid-area: click;
    display: flex;
    flex-direction: column;
    width: 9em;
    justify-content:  center;
    align-content: center;
}

.clickContainer {
    display: flex;
    justify-content:  center;
    align-content: center;
    align-items: center;
    margin: 1em;
    width: 5em;
}

#control {
    grid-area: control;
    display: flex;
    flex-direction: column;
}

#status {
    grid-area: status;
}

#sudoku {
    grid-area: sudoku;
}

.lastControlItem {
    margin-bottom: auto;
}

#examples {
    display: contents;
}
